---
import Navbar from "../components/Navbar.svelte";
import SearchInput from "../components/SearchInput.svelte";
import AllCountries from "../components/AllCountries.svelte";


---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
</head>
<body class="bg-[#F0F0F8] dark:bg-[#202c37]">
        <nav class="h-[80px]">
            <Navbar client:load />
        </nav>
        <section class="px-20">
        <!--    <SearchInput client:load />-->

            <AllCountries client:load />
        </section>
</body>
</html>

